* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}

html {
    background-color: rgb(4, 20, 32);
}

.body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.gameplay {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    height: 15%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d3e9f7;
    padding-top: 5%;
}

.solved_description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    height: 40%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d3e9f7;
}

.content {
    height: 85%;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
}

#menu {
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    height: 370px;
    width: 250px;
    margin: 1vh 0 5vh 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.reset_button {
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    height: 20%;
    width: 80%;
    cursor: pointer;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d3e9f7;
}

.solve_button {
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    height: 20%;
    width: 80%;
    cursor: pointer;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d3e9f7;
}

.new_game_button {
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    height: 20%;
    width: 80%;
    cursor: pointer;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d3e9f7;
}

#delete_container {
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 130px;
    width: 250px;
    padding: 2px;
    cursor: pointer;
}

.delete_button {
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    height: 60%;
    width: 80%;

    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d3e9f7;
}

.board_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 450px;
    margin-right: 5vw;
}

#board {
    width: 450px;
    height: 450px;
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1vh 0 5vh 0;
    padding: 2px;
    cursor: pointer;
    color: #0978bd;
}

.space {
    width: 44px;
    height: 44px;
    border: 1px solid #3fa1de;
    border-radius: 5px;
    display: flex;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.defaultSpace {
    background-color: #dce6f1;
}

#numbers {
    width: 450px;
    height: 50px;
    background-color: rgb(11, 56, 75);
    border: 3px solid #3fa1de;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid #3fa1de;
    border-radius: 5px;
    display: flex;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #d3e9f7;
}

.selectedNumber {
    background-color: #8ec0eb;
    color: #0978bd;
}

.selectedSpace {
    background-color: #8ec0eb;
}

.placedSpace {
    color: #d3e9f7;
}

.deleteSelected {
    background-color: #8ec0eb;
    color: #0978bd;
}

.notSelected {
    background-color: #8ec0eb;
    color: #0978bd;
}

.horizontalGap {
    margin-bottom: 12px;
}

.verticalGap {
    margin-right: 12px;
}

